version: 2
updates:
  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  # Enable version updates for npm in the website directory
  - package-ecosystem: "npm"
    directory: "/website"
    schedule:
      interval: "monthly"
