name: Build and Deploy to GitHub Pages

# Run on PRs and pushes to the default branch
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

env:
  GOATCOUNTER_CODE: addono-cv

jobs:
  # Build job
  build:
    # Unique concurrency group for each branch or PR
    concurrency: build-${{ github.head_ref }}
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup Pages
        uses: actions/configure-pages@v2
      
      # Build CV from Latex as PDF
      - name: LaTeX compilation
        uses: addono/latex-action@edge
        with:
          # The root LaTeX file to be compiled
          root_file: cv.tex
          # Extra arguments to be passed to the latex compiler
          args: -pdf -latexoption=-file-line-error -latexoption=-interaction=nonstopmode -xelatex -f
          extra_system_packages: fonts-font-awesome
          
      # Build website
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version-file: website/.nvmrc
          cache: yarn
          cache-dependency-path: website/yarn.lock
      
      - name: Install Node.js dependencies
        run: yarn install --frozen-lockfile
        working-directory: website
        
      - name: Build website
        run: yarn run build
        working-directory: website
        env:
          GOATCOUNTER_CODE: ${{ env.GOATCOUNTER_CODE }}
      
      # Combine and upload
      - name: Combine PDF and website
        run: cp ./cv.pdf ./website/out
          
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./website/out
        

  # Deployment job
  deploy:
    # This job should only run on master
    if: github.ref == 'refs/heads/master'
    
    # Unique concurrency group for master branch
    concurrency: deploy-master
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
  
    runs-on: ubuntu-latest  
    needs: build
    
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
